<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <title>Yutify</title>
    <link rel="icon" href="{{ url_for('favicon') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- FONTS & ICONS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shizuru">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ruwudu">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-- HEADER -->
    <header id="page-header">
        <div class="header-div">
            <a href="/"><img src="static/Yutify.png" alt="Yutify Logo" class="logo-img"></a>
            <span class="logo-text">
                <a href="/">Yutify: YouTube™ to Spotify®</a>
            </span>
        </div>
    </header>

    <div class="body-content" id="body-content">
        <h1>Privacy Policy</h1>

        <p>Effective Date: August 25, 2023</p>

        <p>
            This Privacy Policy describes how <b>Yutify</b> ("we," "us," or "our") collects, uses, and
            discloses information when you use our web application ( "the Service").

            By using the Service, you agree to the collection and use of information in accordance with this Privacy
            Policy.
        </p>

        <h3>1. Information We Collect</h3>
        <p>
            When you use Yutify, we may collect limited data related to your usage, such as the YouTube video URL you
            input. Additionally, to maintain the security and stability of the Service, we employ a process known as
            rate limiting. This process helps prevent abuse and ensures fair usage of our services. As part of this
            process, we may collect and store your IP address. However, please be assured that this process is
            stateless, meaning it doesn't rely on cookies stored on the client's side. We do not collect any other
            personal information from users of the Service. The Service does not use cookies, store local data, or
            access any personal data.
        </p>
        <p>
            PLEASE DO NOT ENTER OR SUBMIT ANY SENSITIVE / PRIVATE INFORMATION THROUGH THE SEARCH FORM PROVIDED IN OUR
            WEB APPLICATION. IT MUST ONLY BE USED TO SUBMIT A VALID YOUTUBE&TRADE; MUSIC VIDEO URLs AS INTENDED.
            WE ARE NOT RESPONSIBLE IF YOU CHOOSE TO SUBMIT SUCH INFORMATION.
        </p>

        <h3>2. Use of Information</h3>
        <p>
            The information collected, including the YouTube video URL and the IP address, is used solely for the
            purpose of displaying track information from the Spotify API on our webpage and enforcing rate limiting. We
            do not use cookies, and we do not store or process the information locally.
        </p>

        <h3>3. Information Sharing</h3>

        <p>We do not share user data with third parties as we do not collect it in the first place.</p>

        <h3>4. Security</h3>

        <p>
            We take reasonable measures to protect the fetched track information and the collected IP address from
            unauthorized access or breaches. However, please be aware that no method of transmission over the internet
            or electronic storage is completely secure.
        </p>
        <p>
            <i>Please note that our application does not store any data locally, and all information is provided on a
                temporary basis.</i>
        </p>


        <h3>5. Changes to Privacy Policy</h3>

        <p>
            We may update our Privacy Policy from time to time without any perior notice. We encourage you to review
            this Privacy Policy periodically for any changes.
        </p>

        <h3>6. Contact Us</h3>

        <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:Yutify.me@email.com">Yutify.me@email.com</a>.</p>

        <p>Last updated: August 27, 2023</p>

    </div>

    <!-- FOOTER -->
    <footer id="page-footer">
        <div class="footer-content">
            <p>&copy; 2023 Cheap Nightbot | All Rights Reserved</p>
            <p>&lpar;〃￣ω￣〃ゞ</p>
            <div class="footer-links">
                <a href="https://github.com/CheapNightbot/Yutify" target="_blank">Source Code</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/privacy-policy">Privacy Policy</a>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href="https://github.com/CheapNightbot" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-github" style="color: #000000; font-size: 20px;"></i></a></li>
                    <li><a href="https://youtube.com/@CheapNightbot" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-youtube" style="color: #000000; font-size: 20px;"></i></a></li>
                    <li><a href="https://g.dev/CheapNightbot" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-dev" style="color: #000000; font-size: 20px;"></i></a></li>
                    <li><a href="https://cheapnightbot.medium.com" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-medium" style="color: #000000; font-size: 20px;"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>